body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6dac6;
    text-align: center;
}

#title {
    font-size: 2.4rem;
}

input[type=range] {
    -webkit-appearance: none;
    cursor: pointer;
    height: 10px;
    opacity: 1;
    outline: none;
    background: white;
    transition: .2s;
    border-radius: 3px;
}

input[type=range]:hover {
    background-color: rgb(105, 105, 105);

    opacity: 0.5;
}

input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 5px;
}

input[type=range]:active,
input[type=range]::-webkit-slider-thumb:active {
    cursor: grabbing;
}

.play-area {
    background-color: rgb(206, 206, 206);
    padding: 10px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 300px;
    grid-template-areas:
        "one two three";
    border-radius: 10px;
    border: 2px solid black;
}

.tower {
    margin: auto;
    background-color: rgb(255, 178, 62);
    width: 8px;
    height: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tower-stand {
    width: 85%;
    height: 8px;
    background-color: rgb(255, 178, 62);
    border-radius: 5px;
    margin: auto;
}

.disk {
    height: 20px;
    border-radius: 500px;
    border: 2px solid black;
    position: relative;
}

.topDisk {
    cursor: pointer;
}

.topDisk:hover {
    border: 2px solid white;
}

#move-number {
    margin: 10px 0 0 0;
}

button {
    outline: none;
    font-size: 1.5em;
    margin-top: 10px;
    min-width: 5em;
    height: 2em;
    border-radius: 500px;
    border: 2px solid black;
    transition: .2s;
    opacity: 0.7;
}

button:hover:enabled {
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(207, 207, 207);
    opacity: 1s;
}

#solve {
    background-color: rgb(0, 255, 0);
}

#reset {
    background-color: rgb(255, 0, 0);
}

.win {
    position: absolute;
    width: 300px;
    height: 8vh;
    top: calc(50% - 4vh);
    left: calc(50% - 150px);
}